src/main/resources/personalinformation.wsdl

<wsdl:definitions
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:sch="http://vo.satya.example.com"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://com.example.satya.vo"
	targetNamespace="http://com.example.satya.vo">
	<wsdl:types>
		<xs:schema xmlns="https://www.w3schools.com"
			xmlns:tns="http://vo.satya.example.com"
			xmlns:xs="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			targetNamespace="http://vo.satya.example.com">
			<xs:complexType name="Person">
				<xs:sequence>
					<xs:element name="personId" type="xs:string" />
					<xs:element name="firstName" type="xs:string" />
					<xs:element name="middleName" type="xs:string" />
					<xs:element name="lastName" type="xs:string" />
					<xs:element name="age" type="xs:int" />
					<xs:element name="gender" type="xs:string" />
					<xs:element maxOccurs="unbounded" name="address"
						type="tns:Address" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Address">
				<xs:sequence>
					<xs:element name="addressId" type="xs:string" />
					<xs:element name="addressLine1" type="xs:string" />
					<xs:element name="addressLine2" type="xs:string" />
					<xs:element name="addressType" type="xs:string" />
					<xs:element name="city" type="xs:string" />
					<xs:element name="districtCounty" type="xs:string" />
					<xs:element name="state" type="xs:string" />
					<xs:element name="country" type="xs:string" />
					<xs:element name="pinZipcode" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="GetPersonRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="personId" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="GetPersonResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="person" type="tns:Person" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreatePersonRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="person" type="tns:Person" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CreatePersonResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="personId" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="CreatePersonRequest">
		<wsdl:part element="sch:CreatePersonRequest"
			name="CreatePersonRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="CreatePersonResponse">
		<wsdl:part element="sch:CreatePersonResponse"
			name="CreatePersonResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetPersonResponse">
		<wsdl:part element="sch:GetPersonResponse"
			name="GetPersonResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="GetPersonRequest">
		<wsdl:part element="sch:GetPersonRequest"
			name="GetPersonRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="PersonInformationServicePort">
		<wsdl:operation name="CreatePerson">
			<wsdl:input message="tns:CreatePersonRequest"
				name="CreatePersonRequest">
			</wsdl:input>
			<wsdl:output message="tns:CreatePersonResponse"
				name="CreatePersonResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPerson">
			<wsdl:input message="tns:GetPersonRequest"
				name="GetPersonRequest">
			</wsdl:input>
			<wsdl:output message="tns:GetPersonResponse"
				name="GetPersonResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PersonInformationServicePortSoap11"
		type="tns:PersonInformationServicePort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CreatePerson">
			<soap:operation soapAction="" />
			<wsdl:input name="CreatePersonRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="CreatePersonResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetPerson">
			<soap:operation soapAction="" />
			<wsdl:input name="GetPersonRequest">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="GetPersonResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PersonInformationServicePortService">
		<wsdl:port binding="tns:PersonInformationServicePortSoap11"
			name="PersonInformationServicePortSoap11">
			<soap:address
				location="http://localhost:8081/springbootsoap-0.0.1-SNAPSHOT/services/personServiceWsdl" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>